/* MainCss */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


a,a:link,a:visited{
    color:inherit;
    text-decoration: none;
}

li{
    list-style: none; 
}


/* 헤더영역 */

.container{
    width: 1140px;
    /* 중앙정렬 */
    margin:0 auto; 

}
header{
    /* 스크롤이 내려가도 header 부분은 같이 따라가야함.자바스크립트 사용하므로 우선 absolute 이용 */
    position: fixed;
    color:white;
    top:0;
    /* 다른요소에 가리지 않게 */
    z-index:1;
    width: 100%;
    padding:1rem;
}

header .container{
    /* 한줄배치 */
    display: flex;
    /* 헤더와 네비게이션 거리 벌리기 */
    justify-content: space-between;
    /* 수직정렬 */
    align-items: center;
    width:100%;

}

header nav ul{
    display:flex;
}
header nav ul li{
    padding: 10px;
}
header button{
    /* 부모와 배경색 동일하게 */
    background: transparent;
    border: 0;
    /* 마우스 커서: 손모양으로 전환 */
    cursor:pointer;
    color:white;
    


}











header h1 button{
    font-size:2rem;
    font-weight: bold;
}
header nav ul li button {
    font-size: 1.2rem;
    color: white;
}


/* active 클라스 추가시(자바) 적용할 Css */
header.active{
    background-color: rgba(0,0,0);
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn{
    /* 투명도 설정 */
    0%{
        opacity:0;

    }

    100%{
        opacity:1;
    }
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');
main{
    /* 창꽉차게 */
    width:100%;
    /* vh:뷰포트 height vw:뷰포트 너비 */
    height: 100vh;
    color:white;
    /* 사진에 그라데이션삽입 */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('./pro2_mainImg.jpg') center center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main h4{
    font-size: 2rem;
}
main h2{
    font-size: 3.5rem;
    margin:2rem 0;
    letter-spacing: 3px;
    font-family: "Varela Round",sans-serif;


}
main p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

main p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

    .download{
        /* 바탕 투명하게 */
    background-color: transparent;
    /* 테두리부분설정 */
    border:3px solid white;
    /* 테두리 꼭짓점 뭉툭하게 */
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-top:3rem;
    color:white;
    font-weight: bold;
    cursor:pointer;

    
}

.mouse{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom:1rem;
    left:50%;
    transform: translateX(-50%);
    animation: upDown 1s ease-in-out infinite;
    cursor:pointer;
}
@keyframes upDown{
    0%{
        bottom:1rem;
    }
    50%{
        bottom:1.5rem;
    }
    100%{
        bottom:1rem;
    }
}


main h2 span::after{
    content: "";
    height: 40px;
    width:3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    0%{
        /* 불투명도(1에 가까울수록 불투명함) */
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
